---
// src/pages/tasks/[id].astro
import Base from "../../layouts/Base.astro";
import TaskDetailForm from "../../components/TaskDetailForm";

const { id } = Astro.params;
if (!id) {
  throw new Error("Task id is required");
}
---
<Base title="Task" noScroll>
  <section class="p-3 md:p-5">
    <TaskDetailForm client:load taskId={id} />
  </section>
</Base>
