---
// src/pages/tasks/new.astro
import Base from "../../layouts/Base.astro";
import TaskCreateForm from "../../components/TaskCreateForm";
---
<Base title="New Task" noScroll>
  <section class="p-3 md:p-5">
    <TaskCreateForm client:load />
  </section>
</Base>
