---
import AuthCallbackHandler from "~/components/AuthCallbackHandler";
---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>OAuth Callback</title>
  </head>
  <body>
    <p>認証処理中...</p>
    <AuthCallbackHandler client:load />
  </body>
</html>
