---
// src/pages/index.astro
import Base from "../layouts/Base.astro";
---
<Base title="Tasks">
  <h1>タスク一覧</h1>
  <div id="list"></div>
  <script type="module" src="/src/scripts/tasks-page.ts"></script>
</Base>
